{% extends "owner/base_generic.html"  %}

{% block content %}

<div>
    <form action="." method="GET">
        <label>Búsqueda: </label>
        <input type="text" name="q" value="{{query|escape}}">
    </form>

    {% if query %}
        <h2>Resultado para "{{ query|escape }}"</h2>

        {% if data %}
            <ul>
                {% for owner in data %}
                    <li>{{ owner.nombre }} que es de {{ owner.pais }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No se han encontrado owners</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}